node_modules/
.idea

packages/user/node_modules/
packages/user/.idea
packages/user/dist/
packages/user/.env
packages/user/documentation


packages/project/node_modules/
packages/project/dist/
packages/project/.env
packages/project/documentation

packages/gateway/node_modules/
packages/gateway/.idea
packages/gateway/dist/
packages/gateway/.env

